 .header{
    color: red;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 5px;
    background-color: aqua;
}
.menu{
    position: fixed;
    left:-100%;
    height: 100vh;
    background-color: black;
    color: wheat;
}
 .menu ul li{ 
    gap: 10px;
    margin: 20px;
    padding: 20px;
    margin-right: 60%;
    

}

 .icon  button{
    background-color: rgb(15, 14, 14);
    color: aliceblue;
     left :-20%; 
     margin-left: 650px ;
    position: absolute;
    
}
.activemenu{
    left: 0%;
} 